<input type="image" class="meshButtons" src="assets/shapes/cube.png" alt="translation" value="box"/>
<input type="image" class="meshButtons" src="assets/shapes/cylinder.png" alt="translation" value="cylinder"/>
<input type="image" class="meshButtons" src="assets/shapes/sphere.png" alt="translation" value="sphere"/>
<input type="image" class="meshButtons" src="assets/shapes/disc.png" alt="translation" value="disc"/>
<input type="image" class="meshButtons" src="assets/shapes/torus.png" alt="translation" value="torus"/>
<input type="image" class="meshButtons" src="assets/shapes/plane.png" alt="translation" value="plane"/>
<input type="image" class="meshButtons" src="assets/shapes/ground.png" alt="translation" value="ground"/>


<div [ngSwitch]="name">
  <app-box *ngSwitchCase="'box'" (meshCreatedEvent)="createdMesh($event)" [createMesh]="createMeshMessage"></app-box>
  <app-cylinder *ngSwitchCase="'cylinder'" (meshCreatedEvent)="createdMesh($event)" [createMesh]="createMeshMessage"></app-cylinder>
  <app-sphere *ngSwitchCase="'sphere'" (meshCreatedEvent)="createdMesh($event)" [createMesh]="createMeshMessage"></app-sphere>
  <app-disc *ngSwitchCase="'disc'" (meshCreatedEvent)="createdMesh($event)" [createMesh]="createMeshMessage"></app-disc>
  <app-torus *ngSwitchCase="'torus'" (meshCreatedEvent)="createdMesh($event)" [createMesh]="createMeshMessage"></app-torus>
  <app-plane *ngSwitchCase="'plane'" (meshCreatedEvent)="createdMesh($event)" [createMesh]="createMeshMessage"></app-plane>
  <app-ground *ngSwitchCase="'ground'" (meshCreatedEvent)="createdMesh($event)" [createMesh]="createMeshMessage"></app-ground>
</div>