<div id="timelineInfo">
    <!-- animation info when an animation is selected-->
    <span *ngIf="animation" class="flexItem" id="timelineTextSpan">
        <span class="timelineText">name: {{animation.name}}</span>
        <span class="timelineText">target: {{animation.targetProperty}}</span>
        <span class="timelineText" *ngIf="animation.getKeys().length > 0">
            last frame: {{animation.getKeys()[animation.getKeys().length - 1].frame}}
        </span>
        <span class="timelineText" *ngIf="!animation.getKeys() || animation.getKeys().length == 0">
            last frame:
        </span>
        <span class="timelineText" id="timelineValue">value: -</span>
    </span>
    <!-- animation info when an animation is not selected-->
    <span *ngIf="!animation" class="flexItem" id="timelineTextSpan">
        <span class="timelineText">name:</span>
        <span class="timelineText">target:</span>
        <span class="timelineText">last frame:</span>
        <span class="timelineText">value:</span>
    </span>

    <!-- buttons -->
    <span *ngIf="animation" class="flexItem">
        <span *ngIf="this.animKeys.length > 0">
            <input type="image" id="applyKeys" class="timelineButtons" src="assets/icons/check.png" alt="apply" (click)="getAction('add');"/>
            <input type="image" id="revertKeys" class="timelineButtons" src="assets/icons/cancel.png" alt="revert" (click)="getAction('revert');"/>
        </span>
        <input type="image" id="cancelSelection" class="timelineButtons" src="assets/icons/ban.png" alt="cancel" (click)="getAction('cancel');"/>
    </span>
</div>
<div id="timelineDiv">
    <div id="konvaContainer"></div>
</div>