<fieldset>

  <input type="image" src="assets/icons/plus.png" alt="Create" id="animOptButton" />

  <div>
    <label> name: </label>
    <input type="text" id="animName">
  </div>

  <div>
    <label> target: </label>
    <select id="animProperty">
      <option value="position" selected>position</option>
      <option value="rotation">rotation</option>
      <option value="scaling">scaling</option>
    </select>
  </div>

  <div>
    <label> fps: </label>
    <input type="number" id="animFrames" class="animPropGroup" min="1" max="120" value="30">
  </div>

  <div>
    <label> loop: </label>
    <select id="animBehavior">
      <option value="cycle" selected>cycle</option>
      <option value="relative">relative</option>
      <option value="constant">constant</option>
    </select>
  </div>

  <div>
    <label for="setEasing"> easing </label>
    <input type="checkbox" id="setEasing">

    <div *ngIf="useEasing">

      <select id="easingFn">
        <option value="circle" selected>circle ease</option>
        <option value="back">back ease</option>
        <option value="bounce">bounce ease</option>
        <option value="cubic">cubic ease</option>
        <option value="elastic">elastic ease</option>
        <option value="exponential">exponential ease</option>
        <option value="power">power ease</option>
        <option value="quadratic">quadratic ease</option>
        <option value="quartic">quartic ease</option>
        <option value="quintic">quintic ease</option>
        <option value="sine">sine ease</option>
        <option value="bezier">bezier curve ease</option>
      </select>

      <select id="easingMode">
        <option value="easeIn" selected>ease in</option>
        <option value="easeOut">ease out</option>
        <option value="easeInOut">ease inout</option>
      </select>
    </div>
  </div>
</fieldset>