Fudge.tsbuildinfo
node_modules
!Editor/node_modules
FUDGE-win32-x64
Forschungsantrag/Deckblatt_FUDGE_komplett_signed.pdf
Intro.txt
Forschungsantrag/Arbeitsplan20190109_mit_PM.xlsx
Forschungsantrag/FAR_Mitteilung.txt
Forschungsantrag/Finanzplan_final_20190110.xlsx
Forschungsantrag/Projektblatt_FUDGE_eingereicht_20190110.pdf
Forschungsantrag/Projektskizze FUDGE mit Anhang.pdf
