<fieldset>
  <section>
    <input type="image" id="translation" class="buttons" src="assets/icons/arrow.png" alt="translation" />
    <input type="image" id="rotation" class="buttons" src="assets/icons/rotate.png" alt="rotation" />
    <input type="image" id="scaling" class="buttons" src="assets/icons/expand-arrow.png" alt="scaling" />
  </section>

  <section>
    <label>Translation</label>
    <br> X:
    <input type="number" class="transformValue" id="t_x" value="0">
    <br> Y:
    <input type="number" class="transformValue" id="t_y" value="0">
    <br> Z:
    <input type="number" class="transformValue" id="t_z" value="0">
  </section>

  <section>
    <label>Rotation</label>
    <br> X:
    <input type="number" class="transformValue" id="r_x" value="0" step="0.01">
    <br> Y:
    <input type="number" class="transformValue" id="r_y" value="0" step="0.01">
    <br> Z:
    <input type="number" class="transformValue" id="r_z" value="0" step="0.01">
  </section>

  <section>
    <label>Scaling</label>
    <br> X:
    <input type="number" class="transformValue" id="s_x" value="0">
    <br> Y:
    <input type="number" class="transformValue" id="s_y" value="0">
    <br> Z:
    <input type="number" class="transformValue" id="s_z" value="0">
  </section>


</fieldset>