ul {
	padding-left: 20px;
}

li{
	list-style: none;
	background: lightblue;
	padding: 2px;
	position: relative;
}

input{
	position: absolute;
	right: 0;
}

.parent::before{
	content: "➖";
}
.parent.folded::before{
	content: "➕";
}

.parent.folded{
	background: darkcyan;
}


/* .parent {
	color:red;
} */

/* li::before{
	content: "> ";
} */

#propertiesContainer{
	width: 300px;
	height: 500px;
}

canvas#animatorCanvas {
	position: absolute;
	top: 0;
	left: 300px;
}