#animOptButton{
    width: 20px;
    height: 20px;
}

#animName {
    width: 6em;
}

#animFrames{
    width: 3em;
}

div{
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    flex-wrap: wrap;
}