<fieldset>
    <legend>Box</legend>
    <section>
        <label>height: </label>
        <input type="number" id="height" class="boxOptions" value="1">
    </section>

    <section>
        <label>width: </label>
        <input type="number" id="width" class="boxOptions" value="1">
    </section>

    <section>
        <label>depth: </label>
        <input type="number" id="depth" class="boxOptions" value="1">
    </section>

    <br>
    <button (click)="sendMessage()">Create</button>

</fieldset>