#animField {
    width: 100%;
    overflow: auto;
    border: solid 1px white;
}

fieldset {
    border: none;
}

:host ::ng-deep .animInfo {
    padding-left: 10px;
}
  
.trashButton {
    margin-right: 1px;
    width: 15px;
    height: 15px;
}