<legend>Animations</legend>
<div id="animField" >
  <fieldset open>
    <div *ngIf="mesh">
      <div *ngIf="mesh.animations.length !== 0">
        <details *ngFor="let anim of mesh.animations">
          <!-- name of animation -->
          <summary (click)="getAnimation($event);">
            <input type="image" class="trashButton" src="assets/icons/trash.png" alt="delete" (click)="deleteAnim($event);" />
            <span>{{anim.name}}</span>
          </summary>
          <!-- animation target -->
          <span class="animInfo">typ: {{anim.targetProperty}} </span>
          <!-- show all frames -->
          <details class="animInfo">
            <summary>frames</summary>
            <details *ngFor="let key of anim.getKeys()" class="animInfo">
              <summary>{{key.frame}}</summary>
              <span class="animInfo">({{key.value.x}}|{{key.value.y}}|{{key.value.z}})</span>
            </details>
          </details>
        </details>
      </div>

      <div *ngIf="mesh.animations.length === 0">
        empty
      </div>
    </div>
  </fieldset>
</div>