
:root {
  --color-background-main: hsl(0, 97%, 50%);
  --color-background-content: hsl(120, 89%, 56%);
  --color-text: hsl(229, 70%, 34%);
  --color-dragdrop-shadow: hsla(0, 27%, 29%, 0.8);
  --color-dragdrop-outline: hsl(56, 94%, 55%);
}