@import url("https://fonts.googleapis.com/css?family=Quicksand:400,700&subset=latin-ext");
html {
	font-family: "Quicksand", sans-serif;
}

html * {
	outline: none;
}

body {
	font-size: 16px;
	font-family: "Quicksand", sans-serif;
	margin: 15px;
}

p {
	margin-top: 0px;
	margin-bottom: 3px;
}

div,
span {
	box-sizing: border-box;
}

h1 {
	font-weight: 400;
	margin-top: 0;
}

h2 {
	font-weight: 400;
	text-transform: uppercase;
	font-size: 1rem;
	margin-top: 0;
}

.content {
	margin: 15px 0px;
}

.flex-container {
	display: flex;
	flex-direction: column;
}

.flex-container.row {
	flex-direction: row;
}
.flex-container.justify-between {
	justify-content: space-between;
}
.flex-container.align-center {
	align-items: center;
}

.flex-container > * {
	margin: 5px 0;
}

input {
	display: block;
	line-height: 1;
	padding: 5px;
	font-size: 16px;
	font-family: "Quicksand", sans-serif;
}

.project-info-container {
	padding: 15px;
	background-color: green;
	color: white;
	display: block;
}

.opened-pg-project,
.created-pg-project {
	background-color: rgba(255, 255, 255, 0.3);
	padding: 10px;
	display: none;
}

.project-name {
	font-weight: 800;
}

button,
.custom-file-input {
	display: block;
	box-sizing: border-box;
	border: none;
	background-color: green;
	padding: 10px;
	color: white;
	outline: none;
	font-size: 1rem;
	font-family: "Quicksand", sans-serif;
	font-weight: 400;
	width: 100%;
	text-align: center;
	cursor: pointer;
	margin: 0px;
	margin-bottom: 5px;

	transition: all ease 600ms;
}

button:hover,
button:focus,
.custom-file-input:hover,
.custom-file-input:focus {
	background-color: #99cc99;
}

.action-btn {
	background-color: orange;
}
.action-btn:hover,
.action-btn:focus {
	background-color: #ffc04d;
}

input[type="file"] {
	display: none;
}

.chose-path-container {
	display: none;
}

.chose-path {
	font-weight: 700;
}

#terminal {
	background-color: #434343;
	color: #f3f3f3;
	padding: 5px;
	line-height: 1.8;
	font-family: "Consolas", monospace;
	max-height: 350px;
	height: 100%;
	overflow-y: auto;
}

#result {
	background-color: orange;
	color: white;
	padding: 5px;
}

.show {
	display: block !important;
}

#loading {
	display: flex;
	flex-direction: row;
	justify-content: center;
}

.hide {
	display: none !important;
}

.project-btn-container * {
	font-size: 0.9rem;
	margin: 0px;
	height: 100%;
}

.project-btn-container {
	display: grid;
	grid-gap: 5px;
	grid-template-columns: repeat(5, 1fr);
}

.serve-container > *:not(:first-child) {
	margin-top: 5px;
}

#install-project {
	display: flex;
	flex-direction: column;
	justify-content: center;
	align-items: center;
}

#kill-serve-project {
	background-color: orange;
}

#kill-serve-project:focus,
#kill-serve-project:hover {
	background-color: #ffc04d;
}

.little-note {
	display: block;
	font-size: 0.776rem;
	color: orange;
}

/* CONSOLE STRINGS */
.bright {
	font-weight: 700;
}
.dim {
	opacity: 0.6;
}
.underscore {
	text-decoration: underline;
}
.blink {
	animation: blink 600ms infinite;
}
.inverse {
	direction: rtl;
}
.hidden {
	display: none;
}
.fg-black {
	color: black;
}
.fg-red {
	color: red;
}
.fg-green {
	color: green;
}
.fg-yellow {
	color: yellow;
}
.fg-blue {
	color: blue;
}
.fg-magenta {
	color: magenta;
}
.fg-cyan {
	color: cyan;
}
.fg-white {
	color: white;
}
.bg-black {
	background-color: black;
}
.bg-red {
	background-color: red;
}
.bg-green {
	background-color: green;
}
.bg-yellow {
	background-color: yellow;
}
.bg-blue {
	background-color: blue;
}
.bg-magenta {
	background-color: magenta;
}
.bg-cyan {
	background-color: cyan;
}
.bg-white {
	background-color: white;
}

@keyframes blink {
	0% {
		opacity: 1;
	}
	50% {
		opacity: 0;
	}
	100% {
		opacity: 1;
	}
}
