body{
    min-width: 300px;
    max-width: 400px;
    background-color: #242424;
    color: white;
}

a{
    text-decoration: none;
    background-color: #ceffad;
    color: black;
    padding: 5px;
    border-width: 4px;
    border-style: groove;
    border-color: #54d100;
    font-weight: bold;
}

a:hover{
    background-color: #f3ff94;
}
a:active{
    background-color: #f4ffb0;
}

button{
    text-decoration: none;
    background-color: #ceffad;
    color: black;
    padding: 5px;
    border-width: 4px;
    border-style: groove;
    border-color: #54d100;
    font-weight: bold;
}

button:hover{
    background-color: #f3ff94;
}
button:active{
    background-color: #f4ffb0;
}

#stop_signalingServerButton{
    background-color: #d60202;
}
#stop_signalingServerButton:hover{
    background-color: lightcoral;
}

ul{
    list-style: none;

}

li{
    margin-bottom: 50px;
}

textarea{
    min-width: 200px;
    max-width: 400px;
    min-height: 150px;
}