#timelineDiv{
    width: 100%;
    overflow: auto;
    background-color: rgb(77, 72, 76);
}

#konvaContainer {
    width: 100%;
    min-width: 800px;
    height: 100px;
}

:host ::ng-deep #timelineInfo{
    width: 100%;
    background-color: rgb(77, 72, 76);
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
}
#timelineTextSpan{
    width: 80%;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    flex-wrap: wrap;
}

.timelineButtons{
    width: 20px;
    height: 20px;
}