<fieldset>
  <section>
    <input type="image" src="assets/icons/play.png" alt="revert" id="play" class="playerBtn" value="play" />
    <input type="image" src="assets/icons/pause.png" alt="revert" id="pause" class="playerBtn" value="pause" />
    <input type="image" src="assets/icons/stop.png" alt="revert" id="stop" class="playerBtn" value="stop" />
    <input type="image" src="assets/icons/backwards.png" alt="revert" id="reset" class="playerBtn" value="reset" />
    <br>
    <span>
      <label for="startFrame"> start: </label>
      <input type="number" id="startFrame" class="animRange" value="0" min="0" step="1">
    </span>
    <span>
      <label for="endFrame"> end: </label>
      <input type="number" id="endFrame" class="animRange" value="100" min="0" step="1">
    </span>

  </section>
</fieldset>